.navbar {
  background-color: #141b29; 
  color: white;
  padding: 15px 25px;
  display: flex;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}


.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-left: 40px; 
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.navbar-links a:hover {
  text-decoration: underline;
}
